 
	<div id="header-content" class="header" ng-swipe-left="changeView('location')" ng-swipe-right="changeView('registry')">
		<div id="header-text" class="header">
			<h1>Matthew Schroeter</h1>&nbsp;&nbsp;<h2>&amp;</h2>&nbsp;<h1>Paige Grote</h1><br />
			<h3>ARE GETTING MARRIED</h3><br />
			<h1>Saturday December 31, 2016</h1>
		</div>
		<div id="blink">
			<span class="letter">&#60;</span>
			<span class="letter">&#60;</span>
			<span class="letter">&#32;</span>
			<span class="letter">S</span>
			<span class="letter">W</span>
			<span class="letter">I</span>
			<span class="letter">P</span>
			<span class="letter">E</span>
			<span class="letter">&#32;</span>
			<span class="letter">&#62;</span>
			<span class="letter">&#62;</span>

		</div>
	</div>