<div class="vertical-text">
	LOCATION
</div>
<div id="location" class="infoDiv" ng-swipe-left="changeView('lodging')" ng-swipe-right="changeView('registry')">
	<p>The ceremony is scheduled for 5:30pm and will take place at St. Stanislaus Church.</p><br />
	<p class="centered">1413 N 20th St.</p> 
	<p class="centered">St. Louis, MO 63106</p><br />
	<div class="directions">
		<p><a href="https://www.google.com/maps/place/1413+N+20th+St,+St.+Louis,+MO+63106/@38.6421164,-90.2083175,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b347fc50b897:0x549b98ada3634eb1!8m2!3d38.6421164!4d-90.2061288" target="_blank">Click Here For Directions</a></p>
	</div><br />
	<p>After the ceremony, please joing us in celebrating our marriage and bringing in the new year! The reception will be held at The Franklin Room in historic Soulard.</p>
	<p class="centered"><strong>&#42;&#42;Please Note&#42;&#42;<br />
	&#42;&#42;The reception hall is not handicap accessible&#42;&#42;</strong></p><br />
	<p class="centered">816 Allen Ave.</p>
	<p class="centered">St. Louis, MO 63104</p><br />
	<div class="directions">
		<p><a href="https://www.google.com/maps/place/816+Allen+Ave,+St.+Louis,+MO+63104/@38.6073791,-90.2066901,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b3a1b9151435:0x8ef4d75e7136fcc4!8m2!3d38.6073791!4d-90.2045014" target="_blank">Click Here For Directions</a></p>
	</div>
</div>