<div class="vertical-text">
	LODGING
</div>
<div id="lodging" class="infoDiv" ng-swipe-left="changeView('registry')" ng-swipe-right="changeView('location')">
	<p>We have reserved a block of rooms at the Residence Inn located on Jefferson right off of I-64. The hotel will provide shuttle service to and from the reception if you book a room here.</p>
	<p><strong>You must reserve by December 8th to secure the group rate!</strong></p>
	<br />
	<p class="centered">525 S. Jefferson Avenue</p>
	<p class="centered">St. Louis, MO 63103</p><br />
	<p class="centered"><a href="https://www.google.com/maps/place/525+S+Jefferson+Ave,+St.+Louis,+MO+63103/@38.6267353,-90.2210501,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b366a1288161:0xa1de7ae469ac3f83!8m2!3d38.6267353!4d-90.2188614">Click Here For Directions</a></p>
	<br />
	<br />
	<p>There are two ways to reserve a room:</p>
	<ol>
		<li>Reserve online by <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Grote/Schroeter%20Wedding%5ESTLRD%60GSWGSWA%7CGSWGSWB%60139-159%60USD%60false%606%6012/30/16%601/1/17%6012/8/16&app=resvlink&stop_mobi=yes" target="_blank">Clicking Here</a></li>
		<li> Call Marriott Reservations at (866) 448-7500 and reference the Grote/Schroeter Wedding</li>
	</ol>

</div>