<div class="vertical-text">
	LODGING
</div>
<div id="lodging" class="infoDiv" ng-swipe-left="changeView('registry')" ng-swipe-right="changeView('location')">
	<p><strong>PLEASE NOTE: THE HOTEL HAS CHANGED.</strong><br />If you booked at the Residence Inn, please rebook at the Courtyard</p><br />
	<p>We have reserved a block of rooms at the Courtyard at Market and Jefferson.</p>
	<p><strong>You must reserve by December 1st to secure the group rate!</strong></p>
	<br />
	<p class="centered">2340 Market Street</p>
	<p class="centered">St. Louis, MO 63103</p><br />
	<p class="centered"><a href="https://www.google.com/maps/place/2340+Market+St,+St.+Louis,+MO+63103/@38.6297474,-90.2167268,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b3687ac4cb7b:0x50b5a2f04f488489!8m2!3d38.6297474!4d-90.2145381">Click Here For Directions</a></p>
	<br />
	<br />
	<ul>
		<li>Sleeping rooms are $139 for a king room with a sleeper sofa, or $159 for a room with 2 double beds</li>
	</ul>
	<br />
	<p>There are two ways to reserve a room:</p>
	<ol>
		<li>Reserve online by <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Grote-Schroeder%20Wedding%5ESTLCH%60gswgswa%7Cgswgswb%60139.00-159.00%60USD%60false%605%6012/31/16%601/1/17%6012/01/16&app=resvlink&stop_mobi=yes">Clicking Here</a></li>
        <li> Call Courtyard Reservations at (800) 321-2211 and reference the Grote/Schroeter Wedding</li>
	</ol>

</div>